* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.content {
    min-width: 95%;
    margin: auto;
}

.title {
    text-transform: uppercase;
}

small {
    font-size: 12px;
    color: #7e7c7c;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .container div {
    border: 1px solid #d5d5d5;
    border-radius: 1px;
    box-shadow: 1px 3px 1px #d5d5d5;
    padding: 10px;
}

main .container div:hover {
    box-shadow: none;
    cursor: pointer;
    border-color: #f77878;
}

img {
    max-width: 250px;
    max-height: 200px;

    width: 250px;
    height: 100px;
}

.table_responsive {
    max-width: 100%;
    overflow-x: scroll;
}

table {
    width: 100%;
}

table,
table th,
table td {
    border-collapse: collapse;
    padding: 10px;
}

table tr {
    cursor: pointer;
}

form {
    padding: 0.5rem;
    max-width: 60vw;
}

form div {
    margin: 0.1rem 0;
    width: 100%;
}

form select,
form input {
    display: block;
    width: 100%;
    padding: 0.3rem 0.2rem;
}

form input[type='checkbox'] {
    width: auto;
}

form button {
    display: block;
    width: 100%;
    padding: 0.3rem 1rem;
    border: 1px solid #b8b6b6;
    border-radius: 0.2rem;
    cursor: pointer;
}

form label {
    text-transform: capitalize;
}

h3 {
    padding: 0.5rem;
}

h4 {
    text-transform: uppercase;
    width: 100%;
    padding: 5px 10px;
    background-color: #FFFFFF;
    color: #dd392b;
}

h5 {
    text-transform: uppercase;
    width: 100%;
    padding: 5px 10px;
    background-color: #dd392b;
    color: #FFFFFF;
}

.error {
    font-size: 12px;
    margin: 5px 0.5rem;
    color: red;
}

.section_heading {
    padding: 0.1rem 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    border-bottom: 1px solid #FFFFFF;
}

.section_heading img {
    height: 38.5px;
    width: 100px;
}

.section_heading a {
    display: block;
    border: 1px solid #FFFFFF;
    padding: 0.2rem 1rem;
    border-radius: 0.2rem;
}

.comming {
    color: #7e7c7c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.info_container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
}

.info_container>div {
    padding: 0.3rem;
    margin-bottom: 0.8rem;
    padding: 0.5rem;
}

.keys-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0.2rem;
}

.keys-container > div {
    border: 1px solid #b8b6b6;
    display: flex;
    align-items: center;
    padding: 0.2rem;
}

.keys-container>div:last-child {
    display: flex;
    justify-content: space-between;
}

.col-4 {
    max-width: 30vw;
    max-height: 90vh;
    overflow-y: scroll;
}

.info_item {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: start;
    align-items: center;
}

.info_item:not(:last-child) {
    margin-bottom: 0.5rem;
}

.info_item .item {
    padding: 0.3rem;
    word-break: break-all;
    border: 1px solid #FFFFFF;
    margin: 0.3rem;
}

.redis {
    background-color: #dd392b !important;
    color: #FFFFFF !important;
}

.varnish {
    background-color: #004B6B;
    color: #FFFFFF;
}

.memcached {
    background-color: #298D84;
    color: #FFFFFF;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-content: start;
}

.form-footer {
    margin-top: 1rem;
}

.hidden {
    display: none;
}

.console-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.4rem;
}

.console-container>div {
    border: 1px solid #dd392b;
}

.alert {
    text-transform: uppercase;
    width: 90%;
    padding: 5px 10px;
    color: #FFFFFF;
    margin: 10px auto;
}

.alert-success {
    background-color: #4ae63c;
}

.alert-error {
    background-color: #cc1b38;
}

.inline-form {
    display: inline-block;
}

.inline-form button {
    background: none;
    border: none;
    padding: 0;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.actions button {
    border: 1px solid #DDDDDD;
    padding: 1rem 2rem;
    min-width: 20%;
    background: none;
    font-weight: bold;
    cursor: pointer;
}

.primary {
    background-color: #03a9f4 !important;
    color: #FFFFFF;
}

.danger {
    background-color: #ff1b1b !important;
    color: #FFFFFF;
}

.warning {
    background-color: #ff0047 !important;
    color: #FFFFFF;
}

.success {
    background-color: #12a705 !important;
    color: #FFFFFF;
}